.nav {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
  
    .logo-container {
      height: inherit;
      width: auto;
      padding: 7.5px;
      border-radius: 5px;
    //   background-image: linear-gradient( 135deg, #43CBFF 10%, #9708CC 100%);
      // background-image: linear-gradient( 135deg, #c3eeff 10%, hsl(283, 36%, 82%) 100%);
      // padding: 1em;

      // .logo {
      //   height: 100%;
      //   width: auto
      // }
    }
  
    .nav-links-container {
      width: 50%;
      height: auto;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      
  
      .nav-link {
        padding: 10px 15px;
        cursor: pointer;
      }
    }
  }
  