.cart-item-container {
    height: 80px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    overflow: hidden;
    gap: 5px;
  
    .cart-item-img-container {
      width: 100%;
      height: 100%;
      overflow: hidden;
      display: flex;
    }

    .cart-item-img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  
    .item-details {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      padding: 5px;
      font-size: 12px;
      gap: 10px;
    }
    .price {
      font-weight: 500;
    }
  }
  